{% extends "base.html" %}
{% load staticfiles %}


{% block title %} Blog Single {% endblock %}

{% block content %}    

								
						
						<div class="shipping text-center">
							<img src="{% static 'images/home/shipping.jpg' %}" alt="" />
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">Latest From our Blog</h2>
						<div class="single-blog-post">
							<h3>{{ post.title }}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i> {{ post.author.user.first_name }} {{ post.author.user.last_name }}</li>
									<li><i class="fa fa-clock-o"></i> {{ post.publish.time }}</li>
									<li><i class="fa fa-calendar"></i> {{ post.publish.date }}</li>
								</ul>
								<span>
									{% for star in post.count_full_stars %}		
									<i class="fa fa-star"></i>
									{% endfor %}
									{% for star in post.count_emp_stars %}
									<i class="fa fa-star-o "></i>
									{% endfor %}

								</span>
							</div>
							<a href="">
								<img src="{{ media_url }}{{ post.image }}" alt="">
							</a>
							<p>
								{{ post.content|linebreaks  }}
							</p>
							<div class="pager-area">
								<ul class="pager pull-right">
								{% if post_pre %}
									<li><a href="{% url 'blog:post_switch' post.pk|add:'-1' %}">Pre</a></li>
								{% endif %}	
								{% if post_next %}
									<li><a href="{% url 'blog:post_switch' post.pk|add:'1' %}">Next</a></li>
								{% endif %}
								</ul>
							</div>
						</div>
					</div><!--/blog-post-area-->

					<div class="rating-area">
						<ul class="ratings">
							<li class="rate-this">Rate this item:</li>
							<li>
								{% for star in post.count_full_stars %}		
									<i class="fa fa-star color"></i>
									{% endfor %}
									{% for star in post.count_emp_stars %}
									<i class="fa fa-star-o "></i>
									{% endfor %}
							</li>
							<li class="color">({{ post.voice }} votes)</li>
						</ul>
						<ul class="tag">
							<li>TAG:</li>
							{% for tag in post.tags.all %}
								{% if forloop.counter < post.tags.count %}
								<li> <a class="color" href="{% url 'blog:tag' tag.pk %}">{{ tag }}</a><span>/</span></li>
								{% else %}
								<li> <a class="color" href="{% url 'blog:tag' tag.pk %}">{{ tag }}</a></li>
								{% endif %}
							{% endfor %}							
						</ul>
					</div><!--/rating-area-->

					<div class="socials-share">
						<a href=""><img src="{% static 'images/blog/socials.png' %}" alt=""></a>
					</div><!--/socials-share-->

					<div class="media commnets">
						<a class="pull-left" href="#">
							<img class="media-object" src="{{ media_url }}{{ post.author.avatar }}" alt="">
						</a>
						<div class="media-body">
							<h4 class="media-heading">{{ post.author.user.first_name }} {{ post.author.user.last_name }}</h4>
							<p>{{ post.author.bio }}</p>
							<div class="blog-socials">
								<ul>
									<li><a href="{{ post.author.facebook }}"><i class="fa fa-facebook"></i></a></li>
									<li><a href="{{ post.author.twitter }}"><i class="fa fa-twitter"></i></a></li>
									<li><a href="{{ post.author.google }}"><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<a class="btn btn-primary" href="{% url 'blog:author' post.author.pk %}">Other Posts</a>
							</div>
						</div>
					</div><!--Comments-->
					<div class="response-area">
						<h2>{{ count_comments }} RESPONSES</h2>
						<ul class="media-list">
						{% for comment in comments %}
							<li class="media">							
								<a class="pull-left" href="#">
									<img class="media-object" src="{% static 'images/blog/man-two.jpg' %}" alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ comment.author }}</li>
										<li><i class="fa fa-clock-o"></i> {{ comment.created.time }}</li>
										<li><i class="fa fa-calendar"></i>{{ comment.created.date }}</li>
									</ul>
									<p>{{ comment.body }}</p>
									<form action="." method="get" name="form1" id="{{ comment.pk }}">
							
									<input  name="parent_id" type="hidden"  value="{{ comment.pk }}">
									
									<span class="btn btn-primary">
									<i class="fa fa-reply"></i><input class="qwe"  type="submit" value="Replay">
									</span>
									</form>
								</div>
							</li>
						
						{% for reply in comment.replies.all %}	
							<li class="media second-media">
								<a class="pull-left" href="#">
									<img class="media-object" src="{% static 'images/blog/man-three.jpg' %}" alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ reply.author }}</li>
										<li><i class="fa fa-clock-o"></i> {{ reply.created.time }}</li>
										<li><i class="fa fa-calendar"></i> {{ reply.created.date }}</li>
									</ul>
									<p> {{ reply.body }}</p>
									<form action="." method="get" name="form1" id="{{ reply.pk }}">
								
									<input  name="parent_id" type="hidden"  id="id{{ reply.pk }}" value="{{ reply.pk }}">					
									<span class="btn btn-primary">
									<i class="fa fa-reply"></i><input class="qwe"  type="submit" value="Replay">
									</span>
									</form>
								</div>
							</li>
						{% endfor %}
						{% endfor %}	
						</ul>					
					</div><!--/Response-area-->
					<a name="replay-box"></a>
					<div id="replay-box" class="replay-box">
						<div class="row">
							<div class="col-sm-4">
								<h2>Leave a replay</h2>
								<form action="." method="post" id="form-comment">
								
								{% csrf_token %}
									<div class="blank-arrow">
										<label>Your Name</label>
									</div>
									<span>*</span>
									{{ comment_form.author }}
									<div class="blank-arrow">
										<label>Email Address</label>
									</div>
									<span>*</span>
									{{ comment_form.email }}
							</div>
							<div class="col-sm-8">
								<div class="text-area">
									<div class="blank-arrow">
										<label>Comment</label>
									</div>
									<span>*</span>
									{{ comment_form.body }}
									<input  name="parent_id" type="hidden" id="parent_id">	
									<input class="btn btn-primary" type="submit" value="post comment">
								</div>
							</div>
								</form>
							</div>
							
						</div>
					</div><!--/Repaly Box-->

					
{% endblock %}