{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Blog {% endblock %}

{% block content %}
						
						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'images/home/shipping.jpg' %}" alt="" />
						</div><!--/shipping-->
					</div>
				</div>
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">Latest From our Blog</h2>
						{% for post in posts %}
						<div class="single-blog-post">
							<h3>{{ post.title }}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i> {{ post.author.user.first_name }} {{ post.author.user.last_name }}</li>
									<li><i class="fa fa-clock-o"></i> {{ post.publish.time }}</li>
									<li><i class="fa fa-calendar"></i> {{ post.publish.date }}</li>
								</ul>

								<span>	
										{% for star in post.count_full_stars %}		
										<i class="fa fa-star"></i>
										{% endfor %}
										{% for star in post.count_emp_stars %}
										<i class="fa fa-star-o"></i>
										{% endfor %}			
								</span>
							</div>
							<a href="">
								<img src="{{ media_url }}{{ post.image }}" alt="">
							</a>
							<p>{{ post.content|truncatewords:30|linebreaks }}</p>
							<a  class="btn btn-primary" href="{{ post.get_absolute_url }}">Read More</a>
						</div>
						{% endfor %}
						
						<div class="pagination-area">
							<ul class="pagination">
								{% if posts.has_previous %}
								<li><a href="?page={{ posts.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
								{% endif %}

								{% for num in posts.paginator.page_range %}
	
									{% if num == posts.number %}
										<li><a href="?page={{ num }} " class="active"> {{ num }} </a></li>
									{% else %}
									
										<li><a href="?page={{ num }} ">{{ num }} </a></li>
									
									{% endif%}
									
								{% endfor %}
								{% if posts.has_next %}	
								<li><a href="?page={{ posts.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
								{% endif %}
							</ul>
						</div>
						
					</div>
				
{% endblock %}