
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %} Login {% endblock %}
{% block sidebar %} {% endblock %}
{% block content %}	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form action="{% url 'auth:login' %}" method ="post" >
							{% csrf_token %}
							{% crispy  login_form %}
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form action="{% url 'auth:register' %}" method ="post"  >
						{% csrf_token %}
						{% crispy  register_form %}
						</form>
					</div>
{% endblock %}
				